SPRING_PROFILES_ACTIVE=server
SERVER_PORT=8084
SPRING_DATASOURCE_URL=jdbc:postgresql://127.0.0.1:5432/hh_parser_service
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=replace_me
HH_PUBLIC_BASE_URL=https://hh.ru
HH_SEARCH_URL=https://hh.ru/search/vacancy
HH_TIMEOUT_MS=15000
HH_USER_AGENT=Mozilla/5.0 (compatible; SubscriptionVacancyParser/1.0; +https://subscriptionhhapp.ru)
JAVA_OPTS=-Xms256m -Xmx768m