SERVER_PORT=8081
SERVER_SERVLET_CONTEXT_PATH=/api
SPRING_PROFILES_ACTIVE=server
SPRING_DATASOURCE_URL=jdbc:postgresql://127.0.0.1:5432/vacancy_service
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=replace_me
JWT_SECRET=replace_me_with_long_secret
JWT_EXPIRATION=31536000
AUTH_SERVICE_URL=https://api.subscriptionhhapp.ru
HH_BASE_URL=http://127.0.0.1:8084/api
APP_HHRU_TIMEOUT=10000
APP_HHRU_REQUESTS_PER_SECOND=10
APP_HHRU_MAX_PAGES=20
APP_AUTO_UPDATE_WORKERS=1
JAVA_OPTS=-Xms256m -Xmx768m -Djava.net.preferIPv4Stack=true -Djava.net.preferIPv6Addresses=false