BOT_TOKEN=
CHAT_ID=
SMTP_HOST=mail.hosting.reg.ru
SMTP_PORT=465
SMTP_USER=alert@helper.subscriptionhhapp.ru
SMTP_PASSWORD=
EMAIL_FROM=alert@helper.subscriptionhhapp.ru
EMAIL_TO=maximkisten@gmail.com,alert@helper.subscriptionhhapp.ru
