BOT_TOKEN=
CHAT_ID=
SMTP_HOST=mail.hosting.reg.ru
SMTP_PORT=465
SMTP_USER=alert@helper.subscriptionhhapp.ru
SMTP_PASSWORD=
EMAIL_FROM=alert@helper.subscriptionhhapp.ru
EMAIL_TO=maximkisten@gmail.com,alert@helper.subscriptionhhapp.ru
LIBRECHAT_HEALTH_URL=http://127.0.0.1:3080/health
ENABLE_ANTHROPIC_CHECK=false
ANTHROPIC_API_URL=https://api.anthropic.com/v1/models
ANTHROPIC_API_KEY=
